REACT_APP_API_END_POINT=https://api-meta.samuraimetaverse.io
REACT_APP_API_LOGIN=https://api-multi.samuraimetaverse.io
REACT_APP_SOCKET_URL=https://api-multi.samuraimetaverse.io/movement
REACT_APP_EC_SITE_URL=https://af.aqua.sh/store/html/
REACT_APP_NFT_LANDS_CONTRACT_ADDRESS=0xb5a6af64439b302ad28d480b8819ca922b8e31de
REACT_APP_NFT_HOME_CONTRACT_ADDRESS=0xe81bd02c9407cf4b624f339db78ca221992341c9
REACT_APP_NFT_CONTRACT_MARKET=0xee35f20d954c65d846924497c6385aa9ec5f7e43
REACT_APP_NFT_OVE=0xDdd249B862A6C4aCEE4D343FC15818755178f893
REACT_APP_NFT_CLANDS=0xb5a6af64439b302ad28d480b8819ca922b8e31de
REACT_APP_NFT_CHOMES=0xe81bd02c9407cf4b624f339db78ca221992341c9
REACT_APP_API_END_POINT_NOPORT=https://samuraimetaverse.io
REACT_APP_PROJECT_ID=2189c660bdc2f2225a8819bdae51c485
REACT_APP_TX_HASH_URL=https://testnet.bscscan.com/tx/
REACT_APP_MARKET_PLACE_URL=https://marketplace.samuraimetaverse.io
REACT_APP_OWNER_ADDRESS=0xc79fc6537a54ea9bacd9cec6e24800f90d247dc3
REACT_APP_DEEP_LINK=https://metamask.app.link/dapp/samuraimetaverse.io
REACT_APP_NODE_ENV=
REACT_APP_NFT_MUMBAI=
REACT_APP_MUMBAI_CHAIN_ID=17000
REACT_APP_BNB_CHAIN_ID=97
REACT_APP_ETH_LANDS_CONTRACT_ADDRESS=0xb11f419276d2120f558de47157e1841a64363c5e
REACT_APP_ETH_HOME_CONTRACT_ADDRESS=0xf85128220f11144faa8d3335cee7c00250da007e
REACT_APP_NFT_ETH_CONTRACT_MARKET=0x2c768db5e15559159f515dc2516c18670c13daac
REACT_APP_NFT_ETH_OVE=0x1fa52ba5272401b88e8b8377f22a2cc19532b0f7