.avatar-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 35%;
    width: 35%;
}

.btn-play button {
    border: none;
}

.btn-play button:enabled {
    background: #ffc000;
    width: 450px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.btn-play button:enabled:hover {
    background: white;
    color: #ffc000;
    border: 2px solid #ffc000;
}

.avatar-scene-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    /*gap: 10px;*/
}

#avatar-scene-container {
    width: 450px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #ffc000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.avatar-main .username {
    font-size: 30px;
    letter-spacing: 8px;
    font-weight: 700;
    color: #ffc000;
}

.avatar-main .wallet span {
    color: white;
    cursor: pointer;
}

.wallet .metamask {
    padding-inline: 12px;
    border-radius: 8px;
    background: #353535;
    color: white;
    width: 430px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallet .metamask > div {
    display: flex;
    align-items: center;
}

.metamask .balance {
    font-size: 20px;
    font-weight: 700;
}

.metamask .eth {
    font-size: 20px;
    padding-left: 5px;
}

.metamask .address {
    margin-left: 10px;
}

#previous-avatar, #next-avatar {
    cursor: pointer;
    user-select: none;
}
