.page-main {
    width: 100%;
    height: 100%;
    background: url('src/assets/images/background-blur.png') no-repeat fixed center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.page-logo {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 30px;
    display: flex;
    align-items: flex-end;
}

.page-logo img {
    height: 100%;
    object-fit: contain;
}

.page-logo .text {
    color: white;
    font-size: 16px;
    letter-spacing: 4px;
    padding-left: 4px;
    padding-bottom: 2px;
}

.page-main .avatar-title {
    font-size: 34px;
    letter-spacing: 10px;
    color: white;
    font-weight: 700;
    margin-bottom: 50px;
}

.select-avatar {
    width: calc(100% - 60px);
    display: flex;
    gap: 20px;
}

.ReactModalPortal {
    width: 0;
    height: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    background-color: unset !important;
    z-index: 99999;
    animation: zoom-in 0.3s ease-in-out;
}

@keyframes zoom-in {
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

.ReactModalPortal .land-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #000000;
    border: none;
    padding: 20px;
    outline: none;
    border-radius: 20px;
}

.ReactModalPortal .bag-icon {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 80px;
    left: 20px;
    top: auto;
    cursor: pointer;
}

.ReactModalPortal .navigate-modal {
    position: absolute;
    width: 300px;
    height: 200px;
    bottom: 10px;
    left: 50%;
    top: auto;
    cursor: pointer;
    transform: translateX(-50%);
    animation: none !important;
}

.navigate-modal #mapNavigate {
    width: 100%;
    height: 100%;
    position: relative;
}

#mapNavigate .map {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#mapNavigate .point-image {
    width: 15px;
    margin-bottom: 15px;
}

.ReactModalPortal .bag-icon div,
.ReactModalPortal .navigate-modal div,
.ReactModalPortal .open-map-modal div {
    padding: 0 !important;
    width: 100%;
    height: 100%;
    background: none !important;
    overflow: hidden;
    border: none !important;
}

.ReactModalPortal .bag-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ReactModalPortal .inventory-modal {
    position: absolute;
    top: 50%;
    left: 25%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    padding-block: 0;
    outline: none;
}

.log-out-section {
    position: fixed;
    right: 10px;
    top: 30px;
    z-index: 9999;
}

.section-avatar {
    display: contents;
}

.ReactModalPortal .open-map-modal {
    position: absolute;
    width: 100px;
    height: 90px;
    bottom: 20px;
    right: 10px;
    top: auto;
    cursor: pointer;
    display: block;
    overflow: hidden;
    animation: none;
}

.ReactModalPortal .open-map-modal div {
    inset: 0 !important;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}

.ReactModalPortal .open-map-modal img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.shooting-point-modal {
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    pointer-events: none;
    user-select: none;
    animation: none !important;
}

.shooting-point-modal .ReactModal__Content {
    padding: 0 !important;
    inset: unset !important;
    background: none !important;
    border: none !important;
    animation: none !important;
}

.shooting-point-modal .ReactModal__Content svg {
    width: 100%;
}

.shooting-point-modal .ReactModal__Content path {
    fill: #ffc000;
}

@media screen and (max-width: 1024px) {
    .page-main {
        min-height: 100%;
        overflow-y: auto;
        padding-top: 0;
        padding-bottom: 20px;
    }

    .page-main .avatar-title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 0;
        letter-spacing: 8px;
    }

    .page-main .avatar-main {
        width: 100%;
        max-width: 100%;
    }

    .section-avatar {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 400px);
        overflow-y: auto;
        margin-bottom: 200px;
    }

    .page-main .select-avatar {
        width: calc(100% - 30px);
        flex-direction: column;
        /*padding-bottom: 100px;*/
        margin-left: 15px;
    }

    .page-main .avatar-main > :not(.avatar-scene-main) {
        position: fixed;
    }

    .page-main .avatar-scene-main {
        width: 100%;
        max-width: 100%;
    }

    .page-main #avatar-scene-container {
        width: 100%;
        max-width: 100%;
        height: 270px;
    }

    .page-main .avatar-main .username {
        font-size: 24px;
        bottom: 105px;
    }

    .page-main .wallet {
        width: calc(100% - 24px);
        bottom: 55px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }

    .page-main .metamask .balance,
    .page-main .metamask .eth {
        font-size: 14px;
    }

    .page-main .wallet .metamask {
        width: calc(100% - 24px);
        height: 44px;
    }

    .page-main .btn-play {
        width: calc(100% - 24px);
        bottom: 5px;
    }

    .page-main .btn-play button:enabled {
        width: 100%;
    }

    .ReactModalPortal .inventory-modal {
        left: 8px;
        right: 0;
        width: calc(100% - 16px);
        transform: translate(0, -60%);
    }

    .page-main .inventory,
    .inventory-modal .inventory {
        width: 100%;
        max-width: 100%;
    }

    .page-main .inventory-tabs div,
    .inventory-modal .inventory-tabs div {
        font-size: 14px;
        height: 29px;
    }

    .page-main .inventory-tabs,
    .inventory-modal .inventory-tabs {
        height: 32px;
    }

    .page-main .inventory-tabs div.active,
    .inventory-modal .inventory-tabs div.active {
        border-radius: 10px 10px 0 0;
    }

    .page-main .inventory-tabs div:nth-last-child(1),
    .inventory-modal .inventory-tabs div:nth-last-child(1) {
        border-radius: 0 10px 0 0;
    }

    .page-main .inventory-tabs div:nth-child(1),
    .inventory-modal .inventory-tabs div:nth-child(1) {
        border-radius: 10px 0 0 0;
    }

    .page-main .inventory-container,
    .inventory-modal .inventory-container {
        width: calc(100% - 15px);
        border-radius: 0 0 10px 10px;
    }

    .page-main .inventory-item,
    .inventory-modal .inventory-item {
        width: 88px;
        height: 88px;
    }

    .page-main .inventory-scrollbar,
    .inventory-modal .inventory-scrollbar {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        gap: 10px;
        height: 190px;
    }

    .ReactModalPortal .store-modal {
        width: calc(100% - 16px);
        transform: translate(0, -50%);
        margin-right: 0;
        left: 8px;
    }

    .ReactModalPortal .store-modal-container {
        width: calc(100% - 5px);
        padding-left: 0;
    }

    .ReactModalPortal .store-modal-container .tab {
        height: 28px;
        padding-bottom: 4px;
        margin-top: 20px;
        margin-inline: 5px;
        overflow-x: auto;
    }

    .ReactModalPortal .store-modal-container .tab-active {
        border-radius: 10px 10px 4px 4px;
    }

    .ReactModalPortal .store-modal-container .tab-item {
        padding-inline: 8px;
        font-size: 12px;
    }

    .navigate-modal {
        bottom: 100px !important;
    }

    .navigate-modal > div {
        inset: 0 !important;
    }

    .ReactModalPortal .open-map-modal {
        width: 50px;
        height: 45px;
    }

    .ReactModalPortal .bag-icon {
        width: 50px;
        height: 50px;
        left: 10px;
        bottom: 20px;
    }

    .ReactModalPortal .bag-icon div {
        inset: 0 !important;
    }

    .store-detail .left-side,
    .store-detail .right-side {
        width: 100% !important;
    }

    .store-detail .left-side {
        height: auto !important;
        aspect-ratio: 1 / 1;
    }

    .store-detail .info-address .label,
    .store-detail .info-token .label {
        width: 100px;
        min-width: 100px;
        font-size: 12px;
    }

    .store-detail .nft-info {
        font-size: 12px;
    }

    .store-modal-container .list-store {
        padding-inline: 8px;
    }

    .store-modal-container .list-store .nft-item {
        width: calc(50% - 6px);
    }

    .mat-modal .list-store .nft-item {
        width: 100%;
    }

    .store-modal-container .list-store .nft-image {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }
}
